#titulo{
  padding-top: 3%;
  text-align: center;
}

#capa{
  padding-top: 5%;
}
#texto-capa{
  color: #FFE0A3;
  font-family: 'Libre Baskerville', serif;
  text-align: justify;
  padding-top: 8%;
}

#conhecendo-manoel{
  font-size: 200%;
}

#citacao{
  font-family: 'Nothing You Could Do', cursive;
  color: #FFC34E;
  font-size: 300%;
  padding-left: 52%;
  padding-top: 4%;
  padding-bottom: 4%;
}

#manoel-1{
  padding-left: 40%;
  
}

#manoel-3{
  padding-left: 20%;
}

#descricao-manoel{
  padding-top: 3%;
  padding-left: 20%;
  padding-right: 20%;
}

#linha-1-conhecendo-manoel{
  padding-top: 5%;
  padding-bottom: 5%;
}

body{
    background-color: #7D3408;
}
::selection{
    color: aqua;
}

/* TITULOS*/

.letra-capital-titulo{
    color: #FFC34E;
    font-size: 180%;
    font-family: "Kalam", cursive;
    font-weight: 400;
}
.titulos {
    color: #CC8A09;
    font-family: font-family: 'Montserrat', sans-serif;
}

/* TEXTOS */
.paragrafos{
    color: #FFE0A3;
    font-family: 'Libre Baskerville', serif;
}

.rodape-texto{
    color: white !important;
}

/* ID e images sobre nós */

#sobre-nos{
    background-color: black;
}
#foto-equipe-esquerda{
    width: 700px;
    height: 600px;
    padding-left: 5%;
}
#foto-equipe-direita{
    width: 600px;
    height: 600px;
    padding-right: 5%;
}

.secao-comum{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
}

#icone-email{
    width: 80px;
    height: 55px;
}
#icone-git{
    width: 80px;
    height: 80px;
}
.email-rodape{
    margin-bottom: 1% !important;
}
