a {
  color: #FFC34E;
}

a:hover{
  color: #FFD788;
}

#titulo{
  padding-top: 9%;
  text-align: center;
  font-family: 'Amatic SC', cursive;
}

#capa{
  padding-top: 5%;
}

#texto-capa{
  color: #FFE0A3;
  font-family: 'Libre Baskerville', serif;
  text-align: justify;
  padding-top: 8%;
}

@media (max-width: 1360px) {
  #texto-capa{
    color: #FFE0A3;
    font-family: 'Libre Baskerville', serif;
    text-align: justify;
    padding-top: 6%;
  }
}

@media (max-width: 1265px) {
  #texto-capa{
    color: #FFE0A3;
    font-family: 'Libre Baskerville', serif;
    text-align: justify;
    padding-top: 3%;
  }
}

@media (max-width: 1180px) {
  #texto-capa{
    color: #FFE0A3;
    font-family: 'Libre Baskerville', serif;
    text-align: justify;
    padding-top: 0;
  }
}

@media (max-width: 1016px) {
  #texto-capa{
    color: #FFE0A3;
    font-family: 'Libre Baskerville', serif;
    text-align: justify;
    padding-top: 2%;
  }
}

@media (min-width: 1017px) and (max-width: 1098px) {
  #texto-capa{
    font-size: 90%;
    color: #FFE0A3;
    font-family: 'Libre Baskerville', serif;
    text-align: justify;
    padding-top: 2%;
  }
}

#conhecendo-manoel{
  font-size: 200%;
}

#citacao{
  font-family: 'Nothing You Could Do', cursive;
  color: #FFC34E;
  font-size: 300%;
  padding-left: 52%;
  padding-top: 7%;
  padding-bottom: 4%;
  min-height: 300px;
  background-image: url("Images/aspa.png");
  background-position: 800px;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

@media (max-width: 1570px) {
  #citacao{
    background-position: 600px;
  }
}

@media (max-width: 1250px) {
  #citacao{
    background-position: 500px;
  }
}

@media (max-width: 1000px) {
  #citacao{
    background-position: 400px;
  }
}

@media (max-width: 860px) {
  #citacao{
    background-position: 300px;
  }
}

@media (max-width: 700px) {
  #citacao{
    background-position: 200px;
  }
}

#conhecendo-manoel-img1{
  padding-left: 40%;
}

@media (max-width: 942px) {
  #conhecendo-manoel-img1{
    padding-left: 36%;
  }
}

@media (max-width: 674px) {
  #conhecendo-manoel-img1{
    padding-left: 33%;
  }
}

@media (max-width: 590px) {
  #conhecendo-manoel-img1{
    padding-left: 29%;
  }
}

@media (max-width: 485px) {
  #conhecendo-manoel-img1{
    padding-left: 23%;
  }
}

@media (max-width: 410px) {
  #conhecendo-manoel-img1{
    padding-left: 20%;
  }
}

#manoel-3{
  padding-left: 20%;
}

#descricao-manoel{
  padding-top: 3%;
  padding-left: 20%;
  padding-right: 20%;
}

.linhas-conhecendo-manoel{
  padding-top: 5%;
  padding-bottom: 5%;
}

body{
    background-color: #7D3408;
    overflow-x: hidden;
}
::selection{
    color: aqua;
}

/* TITULOS*/

.letra-capital-titulo{
    color: #FFC34E;
    font-size: 180%;
    font-family: "Kalam", cursive;
    font-weight: 400;
}
.titulos {
    color: #CC8A09;
    font-family: font-family: 'Montserrat', sans-serif;
}

#titulo-artigos{
  color: #FFE0A3;
}

#letra-capital-artigo{
  color: #FFE0A3;
  font-size: 180%;
  font-family: "Kalam", cursive;
  font-weight: 400;
}

/* TEXTOS */
.paragrafos{
    color: #FFE0A3;
    font-family: 'Libre Baskerville', serif;
    text-align: justify;
}

.rodape-texto{
    color: white !important;
}

/* ID e images sobre nós */

#artigos{
  padding-bottom: 3%;
}

#sobre-nos{
    background-color: black;
    padding-bottom: 3%;
    margin-left: 6%;
    margin-right: 6%;
}
#foto-equipe-esquerda{
    width: 700px;
    height: 600px;
    padding-left: 5%;
}
#foto-equipe-direita{
    width: 600px;
    height: 600px;
    padding-right: 5%;
}

.secao-comum{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
}

#icone-email{
    width: 14%;
    height: 14%;
    padding-top: 2%;
}

#icone-git{
    width: 14%;
    height: 14%;
    padding-top: 2%;
}

@media (max-width: 1550px) {
  #icone-email{
      width: 15%;
      height: 15%;
  }
  #icone-git{
      width: 15%;
      height: 15%;
  }
}

@media (max-width: 1450px) {
  #icone-email{
      width: 16%;
      height: 16%;
      padding-top: 3%;
  }
  #icone-git{
      width: 16%;
      height: 16%;
      padding-top: 3%;
  }
}

@media (max-width: 1350px) {
  #icone-email{
      width: 17%;
      height: 17%;
      padding-top: 4%;
  }
  #icone-git{
      width: 17%;
      height: 17%;
      padding-top: 4%;
  }
}

@media (max-width: 1250px) {
  #icone-email{
      width: 18%;
      height: 18%;
  }
  #icone-git{
      width: 18%;
      height: 18%;
  }
}

@media (max-width: 1150px) {
  #icone-email{
      width: 19%;
      height: 19%;
  }
  #icone-git{
      width: 19%;
      height: 19%;
  }
}

@media (max-width: 1050px) {
  #icone-email{
      width: 20%;
      height: 20%;
      padding-top: 5%;
  }
  #icone-git{
      width: 20%;
      height: 20%;
      padding-top: 5%;
  }
}

@media (max-width: 950px) {
  #icone-email{
      width: 21%;
      height: 21%;
  }
  #icone-git{
      width: 21%;
      height: 21%;
  }
}

@media (max-width: 850px) {
  #icone-email{
      width: 24%;
      height: 24%;
  }
  #icone-git{
      width: 24%;
      height: 24%;
  }
}

@media (max-width: 750px) {
  #icone-email{
      width: 29%;
      height: 29%;
      padding-top: 6%;
  }
  #icone-git{
      width: 29%;
      height: 29%;
      padding-top: 6%;
  }
}

@media (max-width: 600px) {
  #icone-email{
      width: 37%;
      height: 37%;
  }
  #icone-git{
      width: 37%;
      height: 37%;
  }
}

@media (max-width: 537px) {
  #icone-email{
      width: 60%;
      height: 60%;
      padding-top: 7%;
      padding-left: 10%;
  }
  #icone-git{
      width: 60%;
      height: 60%;
      padding-top: 7%;
      padding-left: 10%;
  }
}

#navbar{
  transition: top 0.3s;
  background-color: #967623;
}

.cards-artigos{
  opacity: 90%;
}

.cards-artigos:hover{
  background-color: #FFD788;
  opacity: 90%;
}

.parallax {
  background-image: url("Images/manoel-2.jpg");

  min-width: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
